@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'DB Heavent';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'DB Heavent';
  src: url('./assets/font/DBHeavant/DB Heavent v3.2.1.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'DB Heavent';
  src: url('./assets/font/DBHeavant/DB Heavent Bd v3.2.1.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'DB Heavent';
  src: url('./assets/font/DBHeavant/DB Heavent Med v3.2.1.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}